.app-progress {
  --mdc-theme-primary: #{$clr-light-blue-500};
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  width: 100%;
  height: 4px;
  background-color: #e6e6e6;

  &.active {
    display: block;
  }
}
