.app-top-bar {
  --mdc-theme-primary: #{$clr-red-900};
  --mdc-theme-on-primary: #fff;
  display: flex;
  flex-direction: row;
  background: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  height: $app-header-height;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: $app-drawer-width;
  width: calc(100% - #{$app-drawer-width});

  @include media-breakpoint-down(lg) {
    left: 0;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
    white-space: nowrap;
  }

  &__title {
    margin: 0 20px 0 0;
    padding: 0;
    line-height: 1;
    font-size: 1.35rem;
  }

  &__actions {
    margin-right: 10px;
  }

  @include media-breakpoint-up(lg) {
    &__menu-button {
      display: none;
    }
  }
}

.ready {
  .app-top-bar {
    overflow: visible;
    position: static;
    top: 0;
    left: 0;
    width: auto;

    &__content {
      margin-left: 0;
    }
  }
}
