.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  &__title {
    font-size: 1.4rem;
    line-height: 1.5;
    text-transform: uppercase;
  }
}

.header-toolbar {
  height: $header-height;
  background: $clr-red-900;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 20px;
  font-size: 1.3rem;
  line-height: 1.5;

  &__item {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__hello {
    margin-left: auto;
  }
}
